# ADR: {{ adr.title }}

* **Status:** {{ adr.status }}
* **Date:** {{ adr.date }}

## Context and Problem Statement

{{ adr.context }}

## Decision Outcome

{{ adr.decision }}

## Consequences

{{ adr.consequences }}
